<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1008007772668-vqod8mh4madg5tkit94fqog0g7f2v4g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008007772668-vqod8mh4madg5tkit94fqog0g7f2v4g9</string>
	<key>API_KEY</key>
	<string>AIzaSyCUgH4u-Od5VxVT4YN-GeXfuTCbDq5E4Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>1008007772668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Boanas.Marc.Math01</string>
	<key>PROJECT_ID</key>
	<string>math01-7d055</string>
	<key>STORAGE_BUCKET</key>
	<string>math01-7d055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008007772668:ios:9135e25b5c586048</string>
	<key>DATABASE_URL</key>
	<string>https://math01-7d055.firebaseio.com</string>
</dict>
</plist>